.form__field {
  margin: 4px;
  padding: 4px;
}

.form__buttons {
  margint-top: 18px;
}

.document {
  margin: 16px;
  padding: 16px;
  border: 1px solid green;
}

code {
  display: block;
  margin: 16px;
  padding: 16px;
  border: 1px solid blue;
}
